.App {
    display: flex;
}

.gameboard {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.gameboard-row {
    display: flex;
    flex-direction: row;
}

.tiles {
    width: 128px;
    height: 128px;
    margin: 8px;
    text-align: center;
    font-size: 48px;
}
